@model FIT5032Assignment.Models.guide

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>guide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.guideName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guideName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guidetype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guidetype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registerDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.guideId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
